.d-table {
    display: table;
    justify-content: center;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 670px) {
    .d-table {
        display: block !important;
        justify-content: center;
    }
    .d-table-cell {
        display: inline-block !important;
        vertical-align: middle;
    }
}